.weui-cell-title {
    margin-left: 20px;
    margin-top: 2px;
    padding-top: 4px;
    border: 0px solid #fefefe;
    width: 100px;
    font-size: 16px;
}

#search {
    display: none;
}

.app-footer {
    display: block;
}

.my-swipe .van-swipe-item {
    color: #fff;
    font-size: 20px;
    line-height: 180px;
    text-align: center;
    background-color: #39a9ed;
}
