.pane-flow-card-meta-icon {
    float: left;
    width: auto;
}

.pane-flow-card-grid {
    width: 100%;
}

.ant-avatar-lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.list-content-item {
    color: rgba(0, 0, 0, .45);
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-content-item span {
    line-height: 20px;
}

.list-content-item p {
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 22px;
}
