#van-visitor-list .van-address-item__edit {
    position: absolute;
    top: 49.5%;
    right: 0px;
    color: #969799;
    font-size: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
}

#van-visitor-list .van-address-list {
    box-sizing: border-box;
    height: 100%;
    padding: 0px 0px 0px 0px;
}

#van-visitor-list .van-address-list__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #fff;
    display: none;
}

#van-visitor-list .van-radio__icon {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    height: 1em;
    font-size: 20px;
    line-height: 1em;
    cursor: pointer;
}

#van-visitor-list .van-icon-edit::before {
    content: '\F0C8';
}

#van-visitor-list .van-address-item__address {
    color: #323233;
    font-size: 13px;
    line-height: 18px;
    width: 99.5%;
    margin-right: 10px;
    padding-right: 30px;
}

#van-overlay-content .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#van-overlay-content .block {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 0.25rem;
    background-color: #fff;
}

#content .van-overlay,
#van-overlay-content .van-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}