#van-visitor-list .van-address-item__edit {
    position: absolute;
    top: 49.5%;
    right: 0px;
    color: #969799;
    font-size: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
}

#van-visitor-list .van-address-list {
    box-sizing: border-box;
    height: 100%;
    padding: 0px 0px 0px 0px;
}

#van-visitor-list .van-address-list__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #fff;
    display: none;
}

#van-visitor-list .van-radio__icon {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    height: 1em;
    font-size: 20px;
    line-height: 1em;
    cursor: pointer;
}

#van-visitor-list .van-icon-edit::before {
    content: '\F0C8';
}