
body{
    background: #F7F9FC;
    min-width: 1250px;
    
}

.nindex-search{
    background: #005B8E url(../images/bg-company-2.png) no-repeat top;
    background-size: cover;
    height: 420px;
}

.nindex-search .search-contain{
    padding-top: 50px;
    z-index: 10;
    position: relative;
}
.nindex-search .title{
    font-size:46px;
    font-family: "Microsoft YaHei",Arial;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}
.nindex-search .search-area{
    width: 900px;
    margin: auto;
    position: relative;
}
.nindex-search .search-nav{
    display: block;
    margin-bottom: 8px;
    padding-left: 128px;
}

.nindex-search .search-nav li{
    font-size: 16px;
    margin-right: 50px;
}

.nindex-search .search-nav li.active, .nindex-search .search-nav li:hover{
    color: #128bed;
}
.nindex-search .search-form{
    position: relative;
}
.nindex-search .index-searchkey{
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    height: 51px;
}
.nindex-search .index-searchkey.active{
    border-bottom-left-radius: 0px;
}
.nindex-search .index-searchkey.haspre{
    padding-left: 140px;
}
.nindex-search .index-searchbtn{
    background: #616DFF;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px 5px;
    height: 51px;
    border: none;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    outline: none;
}
.nindex-search .ibatch-btn{
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(/material/theme/chacha/cms/v2/images/icon_camera.png);
    z-index: 3;
    background-size: 48px 22px;
    right: 114px;
    top: 14px;
}
.nindex-search .ibatch-btn:hover{
    background-position: -24px 0px;
}
.nindex-search .ibatch-btn+.tooltip{
    /*margin-top: 10px;*/
}
.nindex-search .index-hot-box{
    float: left;
}
.nindex-search .hot_data_label{
    display: block;
    float:left;
    margin-top:5px;
}
.nindex-search .hot_data{
    float: left;
    max-width: 630px;
    height:44px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nindex-search .hot_data a{
    display: block;
    float:left;
}
.nindex-search .adsearch-btn{
    color: #BCEAFF;
    font-size: 16px;
    position: absolute;
    right: -50px;
    top: 4px;
    line-height: 22px;
}
.nindex-search #search-list{
    top: 106px;
    width: 800px;
    left: 0px;
}
.nindex-search #search-list .list-group{
    margin-bottom: 0px;
}

.nindex-search .oversea-drop{
    top: 106px;
    width: 800px;
    left: 0px;
    background: #fff;
    position: absolute;
    z-index: 1000;
    border: 1px solid #eee;
    min-height: 200px;
    display: none;
}
.nindex-search .oversea-drop .pills-item{
    width: auto;
}
.nindex-search .oversea-select{
    display: block;
    height: 50px;
    position: absolute;
    font-size: 16px;
    appearance: none;
    border: 0;
    line-height: 52px;
    left: 15px;
    color: #666;
    z-index: 10;
    top: -1px;
    cursor: pointer;
    display: none;
    padding-right: 0px;
    width: 100px;
    text-align: center;
    word-break: keep-all;
}
.nindex-search .oversea-select.active{
    color: #128bed;
}
.nindex-search .oversea-select:after{
    content: " ";
    position: absolute;
    width: 1px;
    left: 110px;
    top: 2px;
    bottom: 0px;
    background: #eee;
    transform: translateX(0.5);
    z-index: 10;
    
}

.nindex-search .index-app-box{
    height: 80px;
    margin-top: 15px;
    padding-left: 36px;
    padding-right: 40px;
    height: 100px;
    position: relative;

}
.nindex-search .index-app-box>.box-wrap{
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;
}
.nindex-search .index-app-box>.box-wrap>.box-scroll{
    transition: all .2s;
}

.nindex-search .index-app-box .index-icon-text{
    float: left;
    width: 98px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #BCEAFF;
}

.nindex-search .index-app-box .index-icon-text .block>i{
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.nindex-search .index-app-box .nav-icon-hot, .nindex-search .index-app-box .nav-icon-new{
    margin-left: 60px;
    margin-top: -5px;
}


.nindex-search .index-app-box .wrap-prev, .nindex-search .index-app-box .wrap-next{
    position: absolute;
    padding: 10px;
    cursor: pointer;
    z-index: 5;
    top: 30px; 
    display: none;
}
.nindex-search .index-app-box .wrap-prev{
    left: -5px;
}
.nindex-search .index-app-box .wrap-next{
    right: -3px; 
}
.nindex-search .index-app-box .wrap-prev:after,.nindex-search .index-app-box .wrap-next:after{
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #BCEAFF;
    border-right: 2px solid #BCEAFF;
}
.nindex-search .index-app-box .wrap-prev:after{
    transform: rotate(-135deg);
    
}
.nindex-search .index-app-box .wrap-next:after{
    transform: rotate(45deg);
}


.nindex-content{
    margin-top: 15px;
}
.nindex-content .lnewslist{
    margin-bottom: 15px;
}
.nindex-content .lnewslist .npanel-heading{
    height: 50px;
    line-height: 50px;
}
.nindex-content .lnewslist .npanel-heading.fixed{
    position: fixed;
    z-index: 10;
    width: 813px;
    top: 56px;
}
.nindex-content .lnewslist .tab.fixed{
    position: fixed;
    z-index: 11;
    width: 813px;
    top: 56px;
    background: #fcfcfc;
    border-bottom: solid 1px #eee;
    /*box-shadow: 0 2px 2px rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.03);*/
}
.nindex-content .lnewslist .subtypeBox{
    left: 100%;top: 0;margin-top: -1px;margin-left: -1px;min-width: 150px;
    max-height: 300px;
    overflow-y: auto;
}
.nindex-content .lnewslist .subtypeBox a{
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
.nindex-content .lnews-cell{
    position: relative;
    padding: 16px 20px;
    background: #fff;
}
.nindex-content .lnews-cell:not(:last-child):after{
    content: " ";
    position: absolute;
    height: 1px;
    bottom: 0px;
    left: 20px;
    right: 20px;
    background: #eee;
}
.nindex-content .lnews-cell .item{
    display: table;
}
.nindex-content .lnews-cell .cell-ft{
    display: table-cell;
    padding-right: 20px;
    vertical-align: middle;
}
.nindex-content .lnews-cell .cell-bd{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.nindex-content .lnews-cell .img>img{
    width: 134px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform .6s;
}
.nindex-content .lnews-cell .img:hover>img{
    transform: scale(1.04,1.04);
}

.nindex-content .lnews-cell .images{
    margin-bottom: 15px;
}
.nindex-content .lnews-cell .images .img{
    float: left;
    margin-right: 20px;
}

.nindex-content .lnews-cell .title{
    font-size: 18px;
    color: #333;
    max-height: 60px;
    margin-bottom: 15px;
    font-weight: 600;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
    line-height: 28px;
    padding-right: 65px;
}
.nindex-content .lnews-cell .title.fixheight{
    height: 60px;
}
.nindex-content .lnews-cell .info{
    height: 25px;
}
.nindex-content .lnews-cell .ltext{
    display: inline-block;
    font-size: 14px;
    color: #999;
    margin-right: 25px;
}
.nindex-content .lnews-cell .ltext.hot{
    position: relative;
    width: 22px;
    height: 22px;
    background: url(/material/theme/chacha/cms/v2/images/ltext_hot.png);
    background-size: 22px 22px;
    margin-top: -5px;
    margin-right: 5px;
    top: 5px;
}
.nindex-content .lnews-cell .ltext.top{
    position: relative;
    width: 36px;
    height: 22px;
    background: url(/material/theme/chacha/cms/v2/images/ltext_top.png);
    background-size: 36px 22px;
    margin-top: -5px;
    margin-right: 8px;
    top: 6px;
}
.nindex-content .lnews-cell .hreport .time{
    display: inline-block;
    line-height: 1;
    float: left;
    background: #128bed;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 4px 5px;
    font-size: 12px;
    color: #fff;
    margin-top: 2px;
    margin-right: 8px;
}
.nindex-content .lnews-cell .htable{
    width: 100%;
    line-height: 30px;
    margin-top: 5px;
}
.nindex-content .lnews-cell .htable th{
    color: #999;
    font-weight: normal;
    padding-top: 6px 0px;
}
.nindex-content .lnews-cell.from-more{
    margin-top: -1px;
}
.nindex-content .lnews-cell.from-more .head{
    display: none;
}
.nindex-content .lnews-cell.from-more .cname{
    visibility: hidden;
}

.nindex-content .lnews-cell .dynamic{
    padding-left: 50px;
}

.nindex-content .lnews-cell .dynamic .head{
    float: left;
    margin-left: -50px;
    padding-top: 8px;
}
.nindex-content .lnews-cell .dynamic .head>img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 6px;
}
.nindex-content .lnews-cell .dynamic .head .usericon{border-radius: 6px;width: 40px;height: 40px;}
.nindex-content .lnews-cell .dynamic .head .usericon:before{ color: #fff !important; }
.nindex-content .lnews-cell .dynamic .head .usericon[first-letter]:not([style]):empty:before {
    content: attr(first-letter);
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #95A5A6;
    font-weight: 500;
}
.nindex-content .lnews-cell .dynamic .cname{
    font-size: 14px;
    margin-bottom: 5px;
}
.nindex-content .lnews-cell .dynamic .cname>a{
    color: #128bed;
}
.nindex-content .lnews-cell .dynamic .time{
    font-size: 14px;
    color: #999;
    float: right;
}
.nindex-content .lnews-cell .dynamic .fav{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.nindex-content .lnews-cell .dynamic .fav.active .icon-fav{
    background-position: -22px 0px;
}
.nindex-content .lnews-cell .dynamic .tdetail{
    position: relative;
    min-height: 42px;
    padding: 10px;
    background: #F7F9FC;
    margin-top: 10px;
    padding-right: 25px;
}
.nindex-content .lnews-cell .dynamic .tdetail object a{
    color: #128bed;
}

.nindex-content .lnews-cell .dynamic .darrow{
    position: absolute;
    right: 15px;
    display: none;
}
.nindex-content .lnews-cell .dynamic .tdetail>a{
    display: block;
}
.nindex-content .lnews-cell .dynamic .tdetail>a+.darrow{
    display: block;
}

.nindex-content .lnews-cell .case-detail td{
    vertical-align: top;
    padding-top: 5px;
}

.nindex-content .lnewsloadmore{
  background: #F5F9FF;
  color: #128bed;
  text-align: center;
  padding: 6px;
  margin-bottom: 15px;
}
.nindex-content .lnewsloadmore img{
  width: 28px;
  margin-right: 10px;
}
.nindex-content .app-box{
    margin: -10px;
    margin-top: 5px;
}
.nindex-content .app-box .index-icon-text{
    width: 33%;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.nindex-content .app-box .block{
    display: block;
    margin-bottom: 10px;
}
.nindex-content .app-box .nav-icon-new, .nindex-content .app-box .nav-icon-hot{
    margin-left: 56px;
    margin-top: -6px;
}
.nindex-content .app-box-lpanel{
    padding-top: 15px;
    padding-bottom: 15px;
}
.nindex-content .app-box-lpanel .index-icon-text{
    width: 16.6%;
}
.nindex-content .app-box-lpanel .nav-icon-hot, .nindex-content .app-box-lpanel .nav-icon-new{
    margin-left: 75px;
}
.nindex-content .fixed-panel{
    width: 290px;
    position: fixed;
    top: 68px;
    z-index: 10;
}

.nindex-content .lnews-cell{
    transition: background .3s;
}

.nindex-content .lnews-cell .lmodal{
    position: absolute;
    bottom: -240px;
    right: -310px;
    display: none;
}

.nindex-content .lnews-cell .lmodal.top{
    bottom: 50px;
}

.nindex-content .lnews-cell .reason{

}
.nindex-content .lnews-cell .reason>.item{
    width: 98px;
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    margin: 8px 10px;
    line-height: 30px;
    border-radius: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    
}
.nindex-content .lnews-cell .reason>.item.active{
    color: #128bed;
    border-color: #128bed;
}
.nindex-content .lnews-cell .notlike{
    position: absolute;
    right: 20px;
    bottom: 16px;
    color: #aaa;
    font-size: 12px;
    padding: 0px 5px;
    cursor: pointer;
    line-height: 24px;
    width: 70px;
    padding-right: 17px;
    opacity: 0;
    transition: opacity .3s; 
    border-radius: 2px;
}
.nindex-content .lnews-cell .notlike .text-gray{
    opacity: 0;
    display: inline-block;
    transition: opacity .2s; 
}
.nindex-content .lnews-cell .notlike .x{
    font-size: 18px;
    position: absolute;
    right: 4px;
    top: 0px;

}
.nindex-content .lnews-cell .notlike:hover {
    background: #eee;
}
.nindex-content .lnews-cell .notlike:hover .text-gray{
    opacity: 1;
}

.nindex-content .lnews-cell:hover{
    background: #F3F9FD;
}
.nindex-content .lnews-cell:hover .title{
    color: #128bed;
}
.nindex-content .lnews-cell:hover .notlike{
    opacity: 1;
}

.nindex-content .lnews-cell .item:visited .title{ 
    color: #999;
}

.nindex-content.favor{
    margin-top: 0px;
}
.nindex-content.favor .lnews-cell .item:visited .title{ 
    color: #333;
}
.nindex-content.favor .lnews-cell:not(:last-child):after{
    right: 0px;
    left: 0px;
}
.nindex-content.favor .lnews-cell .fav{
    position: absolute;
    right: 20px;
    bottom: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s; 
    border-radius: 2px;
    color: #999;
}

.nindex-content.favor .tdetail .line-clamp-btn{
    background: #F7F9FC;
    margin-top: -25px;
}

.nindex-content.favor .lnews-cell .fav.active,.nindex-content.favor .lnews-cell .fav:hover{
    color: #128bed;
}
.nindex-content.favor .lnews-cell .fav.active .icon-fav,.nindex-content.favor .lnews-cell .fav:hover .icon-fav{
    background-position: -22px 0px;
}
.nindex-content.favor .lnews-cell:hover .fav{
    opacity: 1;
}
.nindex-content.favor .lnews-cell:hover .item:visited .title{
    color: #128bed;
}
.nindex-content .lnews-cell:hover .htext{
    color: #128bed;
}
.nindex-content .banner-box .kslide-panel{
    height: 175px;
    width: 100%;
}
.nindex-content .banner-box .kslide-navbar{
    bottom: -8px !important;
}
.nindex-content .banner-box img{
    width: 100%;
    height: 175px;
}
.nindex-content .right-sc{
    border-top: solid 1px #eee;
}
.nindex-content .right-sc .list-group{
    margin-bottom: 0px;
    height: 225px;
    overflow: hidden;
}
.nindex-content .right-sc .list-group-item{
    border:none;
    border-top: solid 1px #eee;
}
.nindex-content .right-sc .list-group-item:first-child{
    border-top: none;
}

.nindex-content .right-sc .list-group-item:hover{
    background: #F3F9FD;
    color: #128bed;
}
.nindex-content .right-sc .list-group-item .number{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: #eee;
    color: #666;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}
.nindex-content .right-sc .list-group-item.more{
    text-align: center;
    background: #fff !important;
}
.nindex-content .right-link{
    font-size: 13px;
    color: #999;
    line-height: 1.4;
    
    background: #fff;
    padding: 10px;
    padding-top: 5px;
    border:solid 1px #eee;
}
.nindex-content .right-link a{
    color: #999;
}
.nindex-content .right-link a:hover{
    color: #128bed;
}
.nindex-content .right-link .licon{
    position: relative;
    top: -1px;
}
.nindex-content .right-link .pt{
    font-size: 14px;
    padding-left: 6px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}
.nindex-content .right-link .pt:before{
    content: " ";
    position: absolute;
    width: 2px;
    height: 14px;
    background: #128bed;
    left: 0px;
    top: 2px;
}

.nindex-content .right-link .udeskBtn{
    display: inline-block !important;
}

.nindex-content .fd>a{
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 5px;
}

.nindex-content .fixedlink.fixed{
    background: #fff;
    padding: 10px;
    position: fixed;
    top: 390px;
    margin-left: -11px;
    width: 288px;
    border:solid 1px #eee;
    padding-top: 15px;
    padding-bottom: 5px;
}

.nindex-content .no-report{
    background: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
}
.nindex-content .no-report>img{
    width: 360px;
    margin-bottom: 10px;
}
.nindex-content .no-report .btn{
    width: 98px;
    font-size: 12px;
    margin-top: 15px;
}
.nindex-content .lnews-cell-chart{
    position: relative;
    padding: 16px 20px;
    background: #fff;
}
.nindex-content .lnews-cell-chart .hchart{
    float: right;
    color: #666;
}
.nindex-content .lnews-cell-chart .float-wrap{
    margin-right: -15px;
}
.nindex-content .lnews-cell-chart .float-wrap-chart{
    float: left;
    width: 378px;
    position: relative;
    margin-right: 15px;
    margin-top: 15px;
}
.nindex-content .lnews-cell-chart .float-wrap-chart .nchart-item{
    display: block;
    margin-bottom: 0px;
}

.nindex-content .flnews-cell{
    transition: background .3s;
    position: relative;
    padding: 10px 20px;
    background: #fff;
}

.nindex-content .flnews-cell:hover{
    background: #F3F9FD;
}

.nindex-content .flnews-cell .item {
    display: table;
    width: 100%;
    padding-left: 15px;
}

.nindex-content .flnews-cell .cell-bd {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.nindex-content .flnews-cell .title {
    font-size: 18px;
    color: #333;
    max-height: 60px;
    margin-bottom: 6px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 28px;
    padding-right: 65px;
    margin-top: 30px;
}
.nindex-content .flnews-cell .tag{
    margin-bottom: 6px;
}
.nindex-content .flnews-cell .tline:after{
    content: " ";
    position: absolute;
    width: 1px;
    background: #eee;
    top: 0px;
    bottom: 0px;
    left: 20px;
}
.nindex-content .flnews-cell:first-child .tline:after{
    top: 20px;
}
.nindex-content .flnews-cell .tline .time{
    position: absolute;
    top: 15px;
    left: 35px;
    color: #D6D6D6;

}
.nindex-content .flnews-cell .tdot{
    width: 13px;
    height: 13px;
    background: #128bed;
    border:solid 2px #E9F3FF;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left:14px;
    z-index: 2;
}

.nindex-content .flnews-cell .share{
  float: right;
  position: relative;
  top: 5px;
}
.nindex-content .flnews-cell .share-wx{
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/share_wx_icon.png');
  background-size: 44px 22px;
}
.nindex-content .flnews-cell .share-wx:hover{
  background-position: -22px 0px;
}

.nindex-content .flnews-date{
    background: #F3F9FD;
    line-height: 40px;
    color: #999;
    padding-left: 20px;
}

.nindex-content .flnews-date.fixed{
    position: fixed;
    z-index: 11;
    width: 813px;
    top: 105px;
    border-bottom: solid 1px #eee;
    display: none;
}

.app-customize{
    position: relative;
    margin: -20px;
    background: #F6F6F6;
    padding: 15px;
    height: 455px;
}

.app-customize .app-dy1,.app-customize .app-dy2{
    height: 425px;
    overflow-y: auto;
    background: #fff;
    width: 275px;
    float: left;
    padding: 15px;
}
.app-customize .app-dy1{
    margin-right: 15px;
}
.app-customize .alist{
    
}
.app-customize .item{
    border:solid 1px #eee;
    height: 44px;
    line-height: 44px;
    width: 100%;
    padding: 0px 10px;
    margin-top: 10px;
    border-radius: 2px;
    width: 245px;
    background: #fff;
    z-index: 10;
    color: #666;

}
.app-customize .item:hover{
    border-color: #128bed;
}
.app-customize .item.move{
    border:dashed 1px #128bed;
}
.app-customize .item .aicon{
    width: 25px;
    height: 25px;
    margin-right: 6px;
}
.app-customize .item .eicon{
    float: right;
    margin-top: 2px;
}


.app-customize .one{
    width: 100px;
    height: 100px;
    /* position: absolute; */
    margin: 20px;
    background: #ff0;
}

.app-customize .boxList{
    height: 280px;
    position: relative;
    width: 500px;
}

.lmodal{
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 400px;
    z-index: 50;
    border-radius: 6px;
}
.lmodal-header{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    line-height: 1.42857143;
}
.lmodal-header h4{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.lmodal-header .desc{
    color: #999;
    font-size: 14px;
    margin-left: 10px;
}
.lmodal-body{
    padding: 15px;
}
.lmodal-footer{
    margin-top: 0px;
    padding: 15px 20px;
    text-align: right;
    border-top: solid 1px #eee;
}
.lmodal-footer .btn{
    display: inline-block;
    min-width: 90px;
    box-shadow: none;
    outline: none;
}

.lmodal-header .close{
    color: #128bed; 
    opacity: .8;
    font-size: 30px;
    margin-top: 3px;
    font-weight: 100;
}
.icon-lhot{
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    background: url(/material/theme/chacha/cms/v2/images/ltext_hot.png);
    background-size: 22px 22px;
    margin-top: -5px;
    margin-right: 5px;
    top: 5px;
}





